%% -*- erlang -*-
%%{erl_opts, [debug_info]}.
%% {erlydtl_opts, [{source_ext, ".html"},
%%                 {module_ext, ""},
%% %%                 {custom_tags_dir, "templates/custom_tags"},
%% %%                 {vars, [{cdn_prefix, "cdn."}]},
%%                 {custom_tags_module, paws_tags}
%%                 ]}.
{deps, [
    {mochiweb, ".*", 
        {git, "git://github.com/mochi/mochiweb.git", "master"} }
]}.
{eunit_opts, [verbose]}.